@{
    ViewData["Title"] = "Premium Subscription";
}

<div class="container text-center">
    <h2>Thank you for subscribing to Premium!</h2>
    <p class="lead">We are excited to have you on board and provide you with premium features.</p>
    <p>Your subscription has been successfully activated. You now have access to all the premium features we offer.</p>
    <p>We are thrilled to have you as part of our community and appreciate you choosing our service.</p>
    <p>All premium benefits are now available to you, and we will continue to work on improving our platform.</p>
    <p>Once again, thank you for your support. We hope you enjoy using our service!</p>
    <p>Your Team at <strong>MoneyMind</strong></p>
</div>