@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row">
    <div class="col-xl-8">
        <div class="nav-align-top mb-6">
            
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="tab-content">
                <h4>@ViewData["Title"]</h4>
                <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="profile-form" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                                    <label asp-for="Username" class="form-label"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header">Delete Account</h4>
            <div class="card-body">
                <div class="mb-6 col-12 mb-0">
                    <div class="alert alert-warning">
                        <h5 class="alert-heading mb-1">Are you sure you want to delete your account?</h5>
                        <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                    </div>
                </div>
                <p>
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
