﻿@using Microsoft.AspNetCore.Identity
@using LabProject.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Privacy Policy";
    Layout = SignInManager.IsSignedIn(User) ? "_Layout_Dashboard" : "_Layout";
}


<h2>@ViewData["Title"]</h2>

<p><strong>1. Administrator of Personal Data</strong></p>
<p>The administrator of personal data is <strong>MoneyMind Sp. z o.o.</strong>, based in <strong>Św. Filipa 17, 31-150 Kraków</strong>, Poland. For any inquiries regarding your personal data, you can contact us at <a href="mailto:privacy@moneymind.com.pl">privacy@moneymind.com.pl</a>.</p>

<p><strong>2. Collected Personal Data</strong></p>
<p>We collect the following personal data from users:</p>
<ul>
    <li>First and last name</li>
    <li>Email address</li>
    <li>Payment information</li>
</ul>

<p><strong>3. Purpose of Data Processing</strong></p>
<p>Your personal data is collected for the following purposes:</p>
<ul>
    <li>To create payment statistics and provide assistance in managing your household budget.</li>
    <li>To provide services related to your MoneyMind account and enhance your user experience.</li>
</ul>

<p><strong>4. Legal Basis for Data Processing</strong></p>
<p>By creating an account on MoneyMind, you give your explicit consent to the collection and processing of your personal data as outlined in this privacy policy.</p>

<p><strong>5. Cookies</strong></p>
<p>Our website does not use cookies. If, in the future, we decide to implement cookies, we will update this policy accordingly.</p>

<p><strong>6. Data Sharing</strong></p>
<p>Your personal data is not shared with third parties. We do not sell or rent your personal data to other companies.</p>

<p><strong>7. International Data Transfers</strong></p>
<p>We do not transfer your personal data outside of the European Economic Area (EEA).</p>

<p><strong>8. Data Retention</strong></p>
<p>Your personal data will be retained indefinitely, unless you request its deletion. You have the right to ask us to delete your personal data at any time. We will comply with your request in accordance with applicable legal requirements.</p>

<p><strong>9. Your Rights</strong></p>
<p>As a user, you have the following rights concerning your personal data:</p>
<ul>
    <li>The right to access your data.</li>
    <li>The right to rectify or update your data.</li>
    <li>The right to request the deletion of your data (the right to be forgotten).</li>
    <li>The right to limit the processing of your data.</li>
    <li>The right to data portability.</li>
    <li>The right to withdraw your consent at any time, without affecting the legality of processing based on consent before its withdrawal.</li>
    <li>The right to object to the processing of your data.</li>
</ul>

<p><strong>10. Data Security</strong></p>
<p>We implement appropriate technical and organizational measures to protect your personal data against unauthorized access, alteration, disclosure, or destruction.</p>

<p><strong>11. Changes to This Privacy Policy</strong></p>
<p>We may update this privacy policy from time to time. Any changes will be posted on this page, and we will notify you if significant changes occur. Please review this policy periodically to stay informed about how we protect your information.</p>

<p><strong>12. Contact Information</strong></p>
<p>If you have any questions or concerns about this privacy policy or the processing of your personal data, please contact us at <a href="mailto:privacy@moneymind.com.pl">privacy@moneymind.com.pl</a>.</p>

<p><strong>Date of Last Update:</strong> 14.12.2024</p>
