﻿@using Microsoft.AspNetCore.Identity
@using LabProject.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Privacy Policy";
    Layout = SignInManager.IsSignedIn(User) ? "_Layout_Dashboard" : "_Layout";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
