@model LabProject.Models.UserLogin

<form asp-action="SignIn" method="post">
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="Email">Email:</label>
		<input asp-for="Email" />
	</div>
	<div>
		<label asp-for="Password">Hasło:</label>
		<input type="password" asp-for="Password" />
	</div>
	<div>
		<input type="submit" />
	</div>
</form>