@model LabProject.Models.User

<form asp-action="SignUp" method="post">
	<div asp-validation-summary="All"></div>
    <div>
        <label asp-for="FirstName">Imię:</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="LastName">Nazwisko:</label>
        <input asp-for="LastName" />
    </div>
	<div>
		<label asp-for="Email">Email:</label>
		<input asp-for="Email" />
	</div>
	<div>
		<label asp-for="Password">Hasło:</label>
		<input type="password" asp-for="Password" />
	</div>
    <div>
        <label asp-for="PasswordConfirmation">Powtórz hasło:</label>
        <input type="password" asp-for="PasswordConfirmation" />
    </div>
    <div>
        <label asp-for="MobileNumber">Telefon:</label>
        <input asp-for="MobileNumber" />
    </div>
    <div>
        <label asp-for="DateOfBirth">Data urodzenia:</label>
        <input type="date" asp-for="DateOfBirth" />
    </div>
	<div>
		<input type="radio" value="true" asp-for="AgreeToTerms" />
        <label asp-for="AgreeToTerms">Akceptuję treść regulaminu serwisu</label> 
    </div>
	<div>
		<input type="radio" value="true" asp-for="PrivacyPolicyConsent" />
        <label asp-for="PrivacyPolicyConsent">Zapoznałem się i akceptuję treść Polityki Prywatności serwisu</label> 
    </div>
	<div>
		<input type="submit" />
	</div>
</form>

