html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*.dashboard_menu {
    max-width: 250px; 
    top: 0; 
    bottom: 0;
}
*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 90vh;
    z-index: 1000;
}
